@media (max-width: 600px) {
  nav {
    padding: 0 20px;
  }
  nav .right a {
    font-size: 22px;
  }
  nav .right a:last-child {
    color: var(--text-color);
    background-color: transparent;
    padding: 0;
  }
  nav .right a span {
    display: none;
  }
  /* hero-section */
  .hero-section {
    padding: 0 28px;
  }
  .hero-section .text h2 {
    font-size: 30px;
  }

  /* section-2 */
  .skills-section {
    padding: 0 20px;
  }
  .skills-section .cells .cell span {
    font-size: 16px;
  }
  .testinony-section {
    padding: 0 20px;
  }
  .contact-section {
    padding: 0 20px;
  }
}
